{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title.comment_list'|trans }}
{% endblock %}

{% block body %}
    <h1>{{ 'title.comment_list'|trans }}</h1>

    {% if comments is not empty %}
        <table class="table table-striped">
            <thead>
            <tr>
                <th>{{ 'label.id'|trans }}</th>
                <th>{{ 'label.email'|trans }}</th>
                <th>{{ 'label.nick'|trans }}</th>
                <th>{{ 'label.content'|trans }}</th>
                <th>{{ 'label.element_id'|trans }}</th>
                {% if is_granted('ROLE_ADMIN') %}
                    <th>{{ 'label.actions'|trans }}</th>
                {% endif %}
            </tr>
            </thead>
            <tbody>
            {% for comment in comments %}
                <tr>
                    <td>{{ comment.id }}</td>
                    <td>{{ comment.email }}</td>
                    <td>{{ comment.nick }}</td>
                    <td>{{ comment.content }}</td>
                    <td>{{ comment.element.id }}</td>
                    {% if is_granted('ROLE_ADMIN') %}
                        <td>
                            <a href="{{ url('comment_delete', {id: comment.id}) }}" class="btn btn-outline-danger btn-sm" title="{{ 'action.delete'|trans }}">
                                {{ 'action.delete'|trans }}
                            </a>
                        </td>
                    {% endif %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>{{ 'message.empty_list'|trans }}</p>
    {% endif %}

    <a href="{{ path('comment_create') }}" class="btn btn-primary" title="{{ 'action.create'|trans }}">
        {{ 'action.create'|trans }}
    </a>
{% endblock %}
