{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title.element_list'|trans }}
{% endblock %}

{% block body %}
    {% block header %}
        {% if app.user %}
            <a href="{{ path('password_edit', {id: app.user.id}) }}" class="btn btn-primary me-2">{{ 'action.change_password'|trans }}</a>
            <a href="{{ path('email_edit', {id: app.user.id}) }}" class="btn btn-secondary me-2">{{ 'action.change_email'|trans }}</a>
        {% endif %}
        <a href="{{ url('comment_index') }}" class="btn btn-info me-2" title="{{ 'action.comment_list'|trans }}">
            {{ 'action.comment_list'|trans }}
        </a>
        <a href="{{ url('category_index') }}" class="btn btn-warning" title="{{ 'action.category_list'|trans }}">
            {{ 'action.category_list'|trans }}
        </a>
    {% endblock %}

    <h1>{{ 'title.element_list'|trans }}</h1>
    {% if pagination is defined and pagination.items|length %}

        <table class="table table-striped">
            <thead>
            <tr>
                <th>{{ knp_pagination_sortable(pagination, 'label.id'|trans, 'element.id') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'label.created_at'|trans, 'element.createdAt') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'label.updated_at'|trans, 'element.updatedAt') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'label.title'|trans, 'element.title') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'label.category'|trans, 'category.title') }}</th>
                <th>{{ 'label.actions'|trans }}</th>
                <th>{{ 'label.edit'|trans }}</th>
                <th>{{ 'label.delete'|trans }}</th>
            </tr>
            </thead>
            <tbody>
            {% for element in pagination.items %}
                <tr>
                    <td>{{ element.id }}</td>
                    <td>{{ element.createdAt|format_date('long') }}</td>
                    <td>{{ element.updatedAt|format_date('long') }}</td>
                    <td>{{ element.title }}</td>
                    <td>{{ element.category.title }}</td>

                    <td><a href="{{ url('element_show', {id: element.id}) }}" class="btn btn-outline-primary" title="{{ 'action.show'|trans }}">
                            {{ 'action.show'|trans }}</a></td>
                    {% if is_granted('ROLE_ADMIN') %}
                        <td><a href="{{ url('element_edit', {id: element.id}) }}" class="btn btn-outline-warning" title="{{ 'action.edit'|trans }}">
                                {{ 'action.edit'|trans }}</a></td>
                        <td><a href="{{ url('element_delete', {id: element.id}) }}" class="btn btn-outline-danger" title="{{ 'action.delete'|trans }}">
                                {{ 'action.delete'|trans }}</a></td>
                    {% endif %}
                </tr>
            {% endfor %}
            </tbody>
        </table>

        {% if is_granted('ROLE_ADMIN') %}
            <a href="{{ url('element_create') }}" class="btn btn-success" title="{{ 'action.create'|trans }}">
                {{ 'action.create'|trans }}</a>
        {% endif %}

        <div class="navigation text-center mt-3">
            {{ knp_pagination_render(pagination) }}
        </div>

    {% else %}
        <p>
            {{ 'message.empty_list'|trans }}
        </p>
    {% endif %}
{% endblock %}
